<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login | Chat</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body class="join-page">

    <div class="join-box">
        <h1>💬 Join Chat</h1>

        <form action="/chat" method="GET" class="join-form">
            <input name="name" placeholder="Enter username..." required>
            <input type="password" name="pass" placeholder="Enter password..." required>
            <button type="submit">Login</button>
        </form>

        <p style="margin-top: 10px; color:#aaa;">
            New user? <a href="/register" style="color:#00e07a;">Register here</a>
        </p>
    </div>

</body>

</html>